@import "../../helpers/mixins";
@import "../../helpers/variables";

.services_mobile {
  @include flexbox($row: false);
  padding: 70px 20px 0px;

  .services__text-container {
    margin: 35px 0px 0px;
  }

  .services__read-more-container {
    @include flexbox($row: true);
    justify-content: flex-start;
    margin: 10px 0px 0px;

    .services__read-more {
      font-weight: 700;
    }

    .services__arrow-right {
      margin-left: 10px;
    }
  }

  .services-grid {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    row-gap: 35px;
    justify-items: center;
    width: 77%;
    margin-top: 30px;

    .services-grid__services-card {
      @include flexbox($row: false);
      width: 100%;
      max-width: 262px;
      height: 269px;
      justify-content: flex-start;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    }

    .services-card__content {
      @include flexbox($row: false);
      max-width: min-content;
      margin-top: 35px;

      .services-card__content-img {
        margin: 0px 0px 27px;
      }

      .services-card__content-text {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}