@import "../../helpers/mixins";
@import "../../helpers/variables";

.services_mobile {
  @include flexbox(column);
  padding: 70px 25px 0px;

  .services__text-container {
    margin: 35px 0px 0px;

    .services__text {
      margin-top: 35px;
    }
  }

  .services__read-more-container {
    @include flexbox(row);
    justify-content: flex-start;
    margin: 10px 0px 0px;

    .services__read-more {
      font-weight: 700;
      margin-bottom: 0;
    }

    .services__arrow-right {
      margin-left: 10px;
    }
  }

  .services__grid {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    row-gap: 35px;
    justify-items: center;
    width: 77%;
    margin-top: 30px;

    .services-grid__services-card {
      @include service-card;
    }

    .services-card__content {
      @include flexbox(column);
      max-width: min-content;
      margin-top: 35px;

      .services-card__content-img {
        margin: 0px 0px 27px;
      }

      .services-card__content-text {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

.services_desktop {
  @include flexbox(row);
  padding: 100px 100px 0px;
  justify-content: space-between;

  .services__text-container {
    width: 42%;

    .services__header-container {
      .services__header {
        text-align: left;
        font-size: 24px;
      }

      .services__subheader {
        text-align: left;
        font-size: 55px;
        line-height: 130%;
        margin: 32px 0px 18px;
      }
    }

    .services__text {
      font-size: 20px;
      line-height: 32px;
      text-align: left;
    }

    .services__read-more-container {
      @include flexbox(row);
      justify-content: flex-end;
      margin-top: 35px;

      .services__read-more {
        font-size: 20px;
        margin-bottom: 0;
      }

      .services__arrow-right {
        margin-left: 10px;
      }
    }
  }

  .services__grid {
    width: 46%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 41px;
    column-gap: 41px;

    .services-grid__services-card {
      @include service-card;
    }

    .services-card__content {
      @include flexbox(column);
      max-width: min-content;
      margin-top: 35px;

      .services-card__content-img {
        margin: 0px 0px 27px;
      }

      .services-card__content-text {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .services_desktop {
    @include flexbox(column);
    padding: 100px 100px 0px;
  
    .services__text-container {
      width: 100%;
    }
  
    .services__read-more-container {
      @include flexbox(row);
      justify-content: flex-start;
      margin: 10px 0px 0px;
  
      .services__read-more {
        font-weight: 700;
      }
  
      .services__arrow-right {
        margin-left: 10px;
      }
    }
  
    .services__grid {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      row-gap: 35px;
      justify-items: center;
      width: 100%;
      margin-top: 30px;
  
      .services-grid__services-card {
        @include service-card;
      }
  
      .services-card__content {
        @include flexbox(column);
        max-width: min-content;
        margin-top: 35px;
  
        .services-card__content-img {
          margin: 0px 0px 27px;
        }
  
        .services-card__content-text {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}
