.services_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 20px 0px;
}
.services_mobile .services__text-container {
  margin: 35px 0px 0px;
}
.services_mobile .services__read-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0px 0px;
}
.services_mobile .services__read-more-container .services__read-more {
  font-weight: 700;
}
.services_mobile .services__read-more-container .services__arrow-right {
  margin-left: 10px;
}
.services_mobile .services__grid {
  display: grid;
  grid-template: repeat(4, 1fr)/1fr;
  row-gap: 35px;
  justify-items: center;
  width: 77%;
  margin-top: 30px;
}
.services_mobile .services__grid .services-grid__services-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 262px;
  height: 269px;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.services_mobile .services__grid .services-card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-top: 35px;
}
.services_mobile .services__grid .services-card__content .services-card__content-img {
  margin: 0px 0px 27px;
}
.services_mobile .services__grid .services-card__content .services-card__content-text {
  font-size: 16px;
  font-weight: 700;
}

.services_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 100px 100px 0px;
  justify-content: space-between;
}
.services_desktop .services__text-container {
  width: 42%;
}
.services_desktop .services__text-container .services__header-container .services__header {
  text-align: left;
  font-size: 24px;
}
.services_desktop .services__text-container .services__header-container .services__subheader {
  text-align: left;
  font-size: 55px;
  line-height: 130%;
  margin: 32px 0px 18px;
}
.services_desktop .services__text-container .services__text {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}
.services_desktop .services__text-container .services__read-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 35px;
}
.services_desktop .services__text-container .services__read-more-container .services__read-more {
  font-size: 20px;
}
.services_desktop .services__text-container .services__read-more-container .services__arrow-right {
  margin-left: 10px;
}
.services_desktop .services__grid {
  width: 46%;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  row-gap: 41px;
  -moz-column-gap: 41px;
       column-gap: 41px;
}
.services_desktop .services__grid .services-grid__services-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 262px;
  height: 269px;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.services_desktop .services__grid .services-card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-top: 35px;
}
.services_desktop .services__grid .services-card__content .services-card__content-img {
  margin: 0px 0px 27px;
}
.services_desktop .services__grid .services-card__content .services-card__content-text {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 992px) {
  .services_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 100px 0px;
  }
  .services_desktop .services__text-container {
    width: 100%;
  }
  .services_desktop .services__read-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0px 0px;
  }
  .services_desktop .services__read-more-container .services__read-more {
    font-weight: 700;
  }
  .services_desktop .services__read-more-container .services__arrow-right {
    margin-left: 10px;
  }
  .services_desktop .services__grid {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    row-gap: 35px;
    justify-items: center;
    width: 77%;
    margin-top: 30px;
  }
  .services_desktop .services__grid .services-grid__services-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 262px;
    height: 269px;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  }
  .services_desktop .services__grid .services-card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    margin-top: 35px;
  }
  .services_desktop .services__grid .services-card__content .services-card__content-img {
    margin: 0px 0px 27px;
  }
  .services_desktop .services__grid .services-card__content .services-card__content-text {
    font-size: 16px;
    font-weight: 700;
  }
}/*# sourceMappingURL=Services.css.map */