.get-started_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 20px 100px;
}
.get-started_mobile .get-started__image-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 300px;
}
.get-started_mobile .get-started__image-container .get-started-img-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.get-started_mobile .get-started__image-container .get-started-img-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
}
.get-started_mobile .get-started__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 35px;
}
.get-started_mobile .get-started__text-container .get-started__header {
  font-size: 28px;
}
.get-started_mobile .get-started__text-container .get-started__text {
  margin: 30px 0px;
}
.get-started_mobile .get-started__text-container .get-started__button {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 24px;
  color: #fff;
  background-color: #377dff;
  border: none;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 10px 35px;
  font-size: 12px;
}

.get-started_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 200px 100px 0px;
}
.get-started_desktop .get-started__image-container {
  position: relative;
  width: 100%;
  height: 400px;
  max-width: 665px;
}
.get-started_desktop .get-started__image-container .get-started-img-1 {
  max-height: 70%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.get-started_desktop .get-started__image-container .get-started-img-2 {
  max-height: 80%;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.get-started_desktop .get-started__image-container .ellipse-grid_blue {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  top: 11%;
  left: -10px;
  width: 105px;
  height: 75px;
  justify-items: center;
  align-items: center;
}
.get-started_desktop .get-started__image-container .ellipse-grid_blue .ellipse-grid__ellipse_blue {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #377dff;
  width: 10px;
  height: 10px;
}
.get-started_desktop .get-started__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.get-started_desktop .get-started__text-container .get-started__header {
  font-size: 55px;
  text-align: start;
  margin: 0;
  max-width: 490px;
}
.get-started_desktop .get-started__text-container .get-started__text {
  font-size: 20px;
  margin: 30px 0px;
  text-align: start;
}
.get-started_desktop .get-started__text-container .get-started__button {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 24px;
  color: #fff;
  background-color: #377dff;
  border: none;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 12px 50px;
  font-size: 16px;
}

@media (min-width: 769px) and (max-width: 992px) {
  .get-started_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 100px 0px;
  }
  .get-started__text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center !important;
  }
  .get-started__text-container .get-started__header {
    text-align: center !important;
    margin-top: 50px;
  }
}/*# sourceMappingURL=GetStarted.css.map */