.inner-root_light,
.inner-root_dark,
.header_mobile,
p,
h1,
h2,
h4,
span {
  transition: all 0.3s ease-in-out;
}

.inner-root_dark {
  background-color: #0d0d0d;

  h1,
  h2,
  h4,
  p,
  span {
    color: #e2e2e2 !important;
  }

  .header_mobile {
    background-color: #0d0d0d;
    border-bottom: 1px solid #818181;

    .header__hamburger-menu {
      span {
        background-color: #e2e2e2;
      }
    }
  }
}
