.main_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 10px 20px;
}
.main_mobile .main__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.main_mobile .main__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.main_mobile .main__image-container .ellipse_red_mobile {
  display: none;
}
.main_mobile .main__image-container .ellipse_blue_mobile {
  display: none;
}
.main_mobile .main__image-container .main__inner-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.main_mobile .main__image-container .main__image {
  width: 95%;
  border-radius: 12px;
  margin: 12px 0px;
}
.main_mobile .main__image-container .main__review-image {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 25%;
  right: 0;
  bottom: 0;
  border-radius: 6px;
}
.main_mobile .main__image-container .main__rate-image {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 30%;
  border-radius: 6px;
}
.main_mobile .main__start-project-button {
  color: #fff;
  background-color: #377dff;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 10px 35px;
  font-size: 12px;
}
.main_mobile .main__h4 {
  margin: 20px 0px;
}
.main_mobile .ellipse-grid_red {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
  justify-items: flex-end;
}
.main_mobile .ellipse-grid_red .ellipse-grid__ellipse_red {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff5c00;
}
.main_mobile .ellipse-grid_blue {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 30%;
  align-items: flex-end;
  justify-items: flex-start;
}
.main_mobile .ellipse-grid_blue .ellipse-grid__ellipse_blue {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #377dff;
}

.main_desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px 0px;
  position: relative;
}
.main_desktop .main__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
}
.main_desktop .main__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 68%;
  height: 62%;
  position: relative;
}
.main_desktop .main__image-container .ellipse_red_desktop {
  border-radius: 50%;
  position: absolute;
  width: 31px;
  height: 31px;
  top: 167px;
  right: -16px;
  background: linear-gradient(#ff8e8e, #f62424);
  top: 40%;
  left: 7%;
}
.main_desktop .main__image-container .ellipse_blue_desktop {
  border-radius: 50%;
  position: absolute;
  width: 31px;
  height: 31px;
  top: 313px;
  left: 94px;
  background: linear-gradient(rgba(68, 133, 255, 0.8), #377dff);
  top: 5%;
  left: 100%;
}
.main_desktop .main__image-container .main__inner-image-container {
  width: 75%;
  margin: 60px 0px;
  position: relative;
}
.main_desktop .main__image-container .main__image {
  width: 100%;
  border-radius: 50px;
}
.main_desktop .main__image-container .main__review-image {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 17%;
  right: 20px;
  bottom: 40px;
  border-radius: 16px;
}
.main_desktop .main__image-container .main__rate-image {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 70px;
  left: 20px;
  width: 18%;
  height: 16%;
  border-radius: 16px;
}
.main_desktop .main__image-container .ellipse-grid_red {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  top: 88%;
  left: 22%;
  width: 15%;
  height: 15%;
  justify-items: center;
  align-items: center;
}
.main_desktop .main__image-container .ellipse-grid_red .ellipse-grid__ellipse_red {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff5c00;
}
.main_desktop .main__image-container .ellipse-grid_blue {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  top: -4%;
  left: 18%;
  width: 15%;
  height: 15%;
  justify-items: center;
  align-items: center;
}
.main_desktop .main__image-container .ellipse-grid_blue .ellipse-grid__ellipse_blue {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #377dff;
}
.main_desktop .main__start-project-button {
  color: #fff;
  background-color: #377dff;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  margin-bottom: 40px;
  padding: 12px 50px;
  font-size: 16px;
}
.main_desktop .main__h1 {
  font-size: 64px;
}
.main_desktop .main__h4 {
  font-size: 20px;
  margin: 40px 0px;
}/*# sourceMappingURL=Main.css.map */