@import "../../helpers/variables";
@import "../../helpers/mixins";

// Main Mobile
.main_mobile {
  @include flexbox($row: false);
  padding: 70px 10px 20px;

  .main__text-container {
    @include flexbox($row: false);
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }

  .main__image-container {
    @include flexbox($row: false);
    width: 100%;
    position: relative;

    .ellipse_red_mobile {
      display: none;
    }

    .ellipse_blue_mobile {
      display: none;
    }

    .main__inner-image-container {
      @include flexbox($row: false);
      width: 100%;
      position: relative;
    }

    .main__image {
      width: 95%;
      border-radius: 12px;
      margin: 12px 0px
    }

    .main__review-image {
      @include main-review-image;
      width: 25%;
      right: 0;
      bottom: 0;
      border-radius: 6px;
    }

    .main__rate-image {
      @include main-rate-image;
      top: 0;
      left: 0;
      width: 30%;
      border-radius: 6px;
    }
  }

  .main__start-project-button {
    @include button(mobile, full);
  }

  .main__p {
    margin: 20px 0px;
  }

  .ellipse-grid_red {
    @include ellipse-grid;
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    justify-items: flex-end;

    .ellipse-grid__ellipse_red {
      @include ellipse-grid-ellipse(main-red);
    }
  }

  .ellipse-grid_blue {
    @include ellipse-grid;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 30%;
    align-items: flex-end;
    justify-items: flex-start;

    .ellipse-grid__ellipse_blue {
      @include ellipse-grid-ellipse(main-blue);
    }
  }
}

// Main Desktop
.main_desktop {
  @include flexbox($row: false);
  padding: 70px 0px 0px;
  position: relative;

  .main__text-container {
    @include flexbox($row: false);
    width: 55%;
    padding-bottom: 40px;
  }

  .main__image-container {
    @include flexbox($row: false);
    width: 68%;
    height: 62%;
    position: relative;

    .ellipse_red_desktop {
      @include ellipse($red: true, $mobile: false);
      top: 40%;
      left: 7%;
    }

    .ellipse_blue_desktop {
      @include ellipse($red: false, $mobile: false);
      top: 5%;
      left: 100%;
    }

    .main__inner-image-container {
      width: 75%;
      margin: 60px 0px;
      position: relative;
    }

    .main__image {
      width: 100%;
      border-radius: 50px;
    }

    .main__review-image {
      @include main-review-image;
      width: 17%;
      right: 20px;
      bottom: 40px;
      border-radius: 16px;
    }

    .main__rate-image {
      @include main-rate-image;
      top: 70px;
      left: 20px;
      width: 18%;
      height: 16%;
      border-radius: 16px;
    }

    .ellipse-grid_red {
      @include ellipse-grid;
      top: 88%;
      left: 22%;
      width: 15%;
      height: 15%;
      justify-items: center;
      align-items: center;

      .ellipse-grid__ellipse_red {
        @include ellipse-grid-ellipse(main-red);
      }
    }

    .ellipse-grid_blue {
      @include ellipse-grid;
      top: -4%;
      left: 18%;
      width: 15%;
      height: 15%;
      justify-items: center;
      align-items: center;

      .ellipse-grid__ellipse_blue {
        @include ellipse-grid-ellipse(main-blue);
      }
    }
  }

  .main__start-project-button {
    @include button(desktop, full);
  }

  .main__h1 {
    font-size: 64px;
  }

  .main__p {
    font-size: 20px;
    margin: 40px 0px;
    line-height: 150%;
  }
}
