@import "../../helpers/variables";
@import "../../helpers/mixins";

.main_mobile {
  @include flexbox;
  padding: 70px 10px 0px;

  .main__text-container {
    @include flexbox;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }

  .main__image-container {
    @include flexbox;
    width: 100%;
    position: relative;

    .main__image {
      width: 93%;
      border-radius: 12px;
      margin: 14px 12px;
    }

    .main__review-image {
      @include main-review-image;
      width: 25%;
      right: 0;
      bottom: 0;
      border-radius: 6px;
    }

    .main__rate-image {
      @include main-rate-image($mobile: true);
    }
  }

  .main__start-project-button {
    @include main-start-project-button($mobile: true);
  }

  .main__h4 {
    margin: 20px 0px;
  }
}

.main_desktop {
  @include flexbox;
  padding: 70px 0px 0px;
  position: relative;

  .main__text-container {
    @include flexbox;
    width: 55%;
  }

  .main__image-container {
    @include flexbox;
    width: 60%;
    position: relative;

    .main__image {
      width: 90%;
      border-radius: 50px;
      margin: 50px 0px;
    }

    .main__review-image {
      @include main-review-image;
      width: 20%;
      right: -8%;
      bottom: 40px;
      border-radius: 16px;
    }

    .main__rate-image {
      @include main-rate-image($mobile: false);
    }
  }

  .main__start-project-button {
    @include main-start-project-button($mobile: false);
  }

  .main__h1 {
    font-size: 64px;
  }

  .main__h4 {
    font-size: 20px;
    margin: 40px 0px;
  }
}
