@mixin ellipse($red: true, $mobile: true) {
  border-radius: 50%;
  position: absolute;
  @if $mobile {
    width: 16px;
    height: 16px;
    @if $red {
      top: -8px;
      right: -16px;
      background: linear-gradient(#ff8e8e, #f62424);
    } @else {
      bottom: -4px;
      left: -14px;
      background: linear-gradient(#4485ff, #377dff);
    }
  } @else {
    width: 31px;
    height: 31px;
    @if $red {
      top: 167px;
      right: -16px;
      background: linear-gradient(#ff8e8e, #f62424);
    } @else {
      top: 313px;
      left: 94px;
      background: linear-gradient(#4485ff, #377dff);
    }
  }
}

@mixin ellipse-grid($red: true) {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  width: 30%;
  height: 30%;
  position: absolute;
  z-index: -1;
  @if $red {
    top: 0;
    right: 0;
    justify-items: flex-end;
  } @else {
    justify-items: flex-start;
    align-items: flex-end;
    left: 0;
    bottom: 0;
  }
}

@mixin ellipse-grid-ellipse($red: true) {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  @if $red {
    background-color: #ff5c00;
  } @else {
    background-color: #377dff;
  }
}

@mixin flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin main-review-image {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin main-rate-image($mobile: true) {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @if $mobile {
    top: 0;
    left: 0;
    width: 30%;
    border-radius: 6px;
  } @else {
    top: 70px;
    left: -5%;
    width: 20%;
    border-radius: 16px;
  }
}

@mixin main-start-project-button($mobile: true) {
  color: #fff;
  background-color: $main-blue;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);

  @if $mobile {
    padding: 10px 35px;
    font-size: 12px;
  } @else {
    margin-bottom: 40px;
    padding: 12px 50px;
    font-size: 16px;
  }
}
