@import "../../helpers/variables";
@import "../../helpers/mixins";

// About Mobile
.about_mobile {
  @include flexbox($row: false);
  padding: 70px 20px 0px;

  .about__text-container {
    @include flexbox($row: false);
    padding-bottom: 50px;
  }

  .about__header-container {
    @include flexbox($row: false);

    .about__header {
      font-weight: 600;
      color: $main-blue;
    }

    .about__subheader {
      margin: 10px 0px 0px;
      font-family: "Nunito";
      font-size: 24px;
      font-weight: 700;
    }
  }

  .about__text {
    margin: 35px 0px;
    p {
      text-align: start;
      margin: 10px 0px;
    }
  }

  .about__buttons-container {
    @include flexbox($row: false);
    max-width: 500px;
    justify-content: space-between;
    width: 95%;

    .about__button {
      @include main-start-project-button;
    }

    .about__play-button {
      @include main-start-project-button;
      display: flex;
      align-items: center;
      background-color: transparent;
      color: $main-blue;
      padding: 10px 35px;
      margin-top: 20px;
      box-shadow: none;
      border: 1px solid $main-blue;

      img {
        margin-right: 10px;
      }
    }
  }

  .about__image-container {
    @include flexbox($row: false);
    width: 100%;
    padding-top: 15px;
    position: relative;

    .ellipse-grid_pink {
      @include ellipse-grid;
      top: 0;
      left: 0;
      width: 30%;
      height: 70px;
      justify-items: center;

      .ellipse-grid__ellipse_pink {
        @include ellipse-grid-ellipse(main-pink);
      }
    }

    .about__image {
      width: 100%;
    }
  }
}

// About Desktop
.about_desktop {
  @include flexbox($row: false);
  padding: 100px 100px 0px;

  .about__header-container {
    @include flexbox($row: false);

    .about__header {
      font-weight: 600;
      color: $main-blue;
      font-size: 24px;
    }

    .about__subheader {
      margin: 10px 0px 0px;
      font-family: "Nunito";
      font-size: 55px;
      font-weight: 700;
    }
  }

  .about__text-image-container {
    @include flexbox($row: true);
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .about__text-container {
    @include flexbox($row: false);
    align-items: flex-start;
    padding-bottom: 50px;
    width: 48%;
  }

  .about__text {
    margin: 35px 0px;
    p {
      font-size: 20px;
      line-height: 32px;
      text-align: start;
      margin: 10px 0px;
    }
  }

  .about__image-container {
    @include flexbox($row: false);
    width: 48%;
    padding: 15px 0px;
    position: relative;

    .ellipse-grid_pink {
      @include ellipse-grid;
      bottom: 0;
      right: 0;
      width: 17%;
      height: 70px;
      justify-items: center;
      align-items: flex-end;

      .ellipse-grid__ellipse_pink {
        @include ellipse-grid-ellipse(main-pink);
      }
    }

    .ellipse-grid_red {
      @include ellipse-grid;
      top: 0;
      left: 0;
      width: 17%;
      height: 70px;
      justify-items: center;
      align-items: flex-start;

      .ellipse-grid__ellipse_red {
        @include ellipse-grid-ellipse(main-red);
      }
    }

    .about__image {
      width: 90%;
      border-radius: 24px;
    }
  }

  .about__buttons-container {
    @include flexbox($row: false);
    max-width: 400px;
    justify-content: space-between;
    width: 100%;

    .about__button {
      @include main-start-project-button;
      font-size: 16px;
      padding: 12px 50px;
      line-height: 24px;
    }

    .about__play-button {
      @include main-start-project-button;
      display: flex;
      align-items: center;
      background-color: transparent;
      color: $main-blue;
      box-shadow: none;
      border: 1px solid $main-blue;
      font-size: 16px;
      padding: 12px 50px;

      img {
        width: 24px;
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 340px) {
  .about__buttons-container {
    flex-direction: row !important;
    .about__play-button {
      margin-top: 0px !important;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .about__text-image-container {
    flex-direction: column !important;
  }

  .about__text-container {
    width: 80% !important;
    align-items: center !important;
  }

  .about__image-container {
    width: 80% !important;
  }
}
