.about_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 20px 0px;
}
.about_mobile .about__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.about_mobile .about__header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_mobile .about__text {
  margin: 35px 0px;
}
.about_mobile .about__text p {
  text-align: start;
  margin: 10px 0px;
}
.about_mobile .about__buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  justify-content: space-between;
  width: 95%;
}
.about_mobile .about__buttons-container .about__button {
  color: #fff;
  background-color: #377dff;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 700;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 10px 35px;
  font-size: 12px;
}
.about_mobile .about__buttons-container .about__play-button {
  color: #fff;
  background-color: #377dff;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 700;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 10px 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #377dff;
  padding: 10px 35px;
  margin-top: 20px;
  box-shadow: none;
  border: 1px solid #377dff;
}
.about_mobile .about__buttons-container .about__play-button img {
  margin-right: 10px;
}
.about_mobile .about__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.about_mobile .about__image-container .ellipse-grid_pink {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 30%;
  height: 70px;
  justify-items: center;
}
.about_mobile .about__image-container .ellipse-grid_pink .ellipse-grid__ellipse_pink {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #eb00ff;
}
.about_mobile .about__image-container .about__image {
  width: 100%;
}

.about_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 100px 0px;
}
.about_desktop .about__header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_desktop .about__header-container .about__header {
  font-size: 24px;
}
.about_desktop .about__header-container .about__subheader {
  font-size: 55px;
}
.about_desktop .about__text-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
}
.about_desktop .about__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
}
.about_desktop .about__text {
  margin: 0px 0px 35px;
}
.about_desktop .about__text p {
  font-size: 20px;
  line-height: 32px;
  text-align: start;
  margin: 10px 0px;
}
.about_desktop .about__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  padding: 15px 0px;
  position: relative;
}
.about_desktop .about__image-container .ellipse-grid_pink {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -30px;
  width: 17%;
  height: 70px;
  justify-items: center;
  align-items: flex-end;
}
.about_desktop .about__image-container .ellipse-grid_pink .ellipse-grid__ellipse_pink {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #eb00ff;
}
.about_desktop .about__image-container .ellipse-grid_red {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: -1;
  top: 0;
  left: -30px;
  width: 17%;
  height: 70px;
  justify-items: center;
  align-items: flex-start;
}
.about_desktop .about__image-container .ellipse-grid_red .ellipse-grid__ellipse_red {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff5c00;
}
.about_desktop .about__image-container .about__image {
  width: 100%;
  border-radius: 24px;
}
.about_desktop .about__buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  justify-content: space-between;
  width: 100%;
}
.about_desktop .about__buttons-container .about__button {
  color: #fff;
  background-color: #377dff;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 700;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 10px 35px;
  font-size: 12px;
  font-size: 16px;
  padding: 12px 50px;
  line-height: 24px;
}
.about_desktop .about__buttons-container .about__play-button {
  color: #fff;
  background-color: #377dff;
  border: none;
  border-radius: 24px;
  font-family: "Quicksand";
  font-weight: 700;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  padding: 10px 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #377dff;
  box-shadow: none;
  border: 1px solid #377dff;
  font-size: 16px;
  padding: 12px 50px;
}
.about_desktop .about__buttons-container .about__play-button img {
  width: 24px;
  margin-right: 10px;
}

@media (min-width: 340px) {
  .about__buttons-container {
    flex-direction: row !important;
  }
  .about__buttons-container .about__play-button {
    margin-top: 0px !important;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .about__text-image-container {
    flex-direction: column !important;
  }
  .about__text-container {
    width: 80% !important;
    align-items: center !important;
    padding-bottom: 50px;
  }
  .about__image-container {
    width: 80% !important;
  }
}/*# sourceMappingURL=About.css.map */