@import "../../helpers/variables";
@import "../../helpers/mixins";

.header_mobile {
  @include flexbox(row);
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  border-bottom: 2px solid rgb(55 125 255 / 50%);

  .header__logo-container {
    @include flexbox(row);
  }

  .header__logo-text {
    @include header-logo-text(mobile);
  }

  .header__hamburger-menu {
    @include flexbox(column);
    position: relative;
    justify-content: space-evenly;
    width: 30px;
    height: 26px;
    z-index: 100;
    span {
      border-radius: 10px;
      height: 2px;
      background-color: $main-black;
      transition: all 0.3s ease-in-out;
      &:nth-child(1),
      &:nth-child(3) {
        width: 70%;
      }
      &:nth-child(2) {
        width: 50%;
      }
    }

    &.active {
      span {
        background-color: #fff;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateX(-10px);
          opacity: 0;
        }
      }
    }
  }

  .header__sidenav {
    @include header-sidenav;
  }

  .header__sidenav_opened {
    @include header-sidenav;
    background-color: $main-blue;
    width: 60%;
  }

  .sidenav__backpanel {
    @include sidenav__backpanel;
    background-color: transparent;
  }
  .sidenav__backpanel_opened {
    @include sidenav__backpanel;
    background-color: rgb(0, 0, 0, 0.4);
  }
}

.header_desktop {
  @include flexbox(row);
  justify-content: space-between;
  padding: 40px 20px 0px;

  .header__logo-container {
    @include flexbox(row);
  }

  .header__logo {
    width: 53px;
  }

  .header__logo-text {
    @include header-logo-text(desktop);
  }

  .header__navbar {
    @include flexbox(row);
    justify-content: space-between;
    width: 385px;
    p {
      font-family: "Quicksand";
      font-size: 18px;
      margin: 0;
      cursor: pointer;
    }
  }
}

.header__contact-button {
  @include button(desktop, hollow);
}

@media (min-width: 992px) {
  .header_desktop {
    padding: 40px 100px 0px !important;
  }
}
