@import "../../helpers/variables";
@import "../../helpers/mixins";

.header_mobile {
  @include flexbox(row);
  justify-content: space-between;
  padding: 40px 20px 0px;

  .header__logo-container {
    @include flexbox(row);
  }

  .header__logo-text {
    @include header-logo-text(mobile);
  }

  .header__hamburger-menu {
    @include flexbox(column);
    justify-content: space-evenly;
    width: 30px;
    height: 26px;
    span {
      border-radius: 10px;
      height: 2px;
      background-color: $main-black;
      &:nth-child(1),
      &:nth-child(3) {
        width: 70%;
      }
      &:nth-child(2) {
        width: 50%;
      }
    }
  }
}

.header_desktop {
  @include flexbox(row);
  justify-content: space-between;
  padding: 40px 20px 0px;

  .header__logo-container {
    @include flexbox(row);
  }

  .header__logo {
    width: 53px;
  }

  .header__logo-text {
    @include header-logo-text(desktop);
  }

  .header__navbar {
    @include flexbox(row);
    justify-content: space-between;
    width: 385px;
    p {
      font-family: "Quicksand";
      font-size: 18px;
      margin: 0;
      cursor: pointer;
    }
  }
}

.header__contact-button {
  @include button(desktop, hollow);
}

@media (min-width: 992px) {
  .header_desktop {
    padding: 40px 100px 0px !important;
  }
}
