@import "../../helpers/variables";
@import "../../helpers/mixins";

.header_mobile {
  @include flexbox(row);
  justify-content: space-between;
  padding: 40px 20px 0px;
  position: relative;

  .header__logo-container {
    @include flexbox(row);
  }

  .header__logo-text {
    @include header-logo-text(mobile);
  }

  .header__hamburger-menu {
    @include flexbox(column);
    position: relative; 
    justify-content: space-evenly;
    width: 30px;
    height: 26px;
    z-index: 100;
    span {
      border-radius: 10px;
      height: 2px;
      background-color: $main-black;
      transition: all .3s ease-in-out;
      &:nth-child(1),
      &:nth-child(3) {
        width: 70%;
      }
      &:nth-child(2) {
        width: 50%;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateX(-10px);
          opacity: 0;
        }
      }
    }
  }

  .header__sidenav {
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    transition: .5s ease-in-out;
  }

  .header__sidenav_opened {
    @include flexbox(column);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: cyan;
    width: 50%;
    z-index: 1;
    transition: .5s ease-in-out;
  }
}

.header_desktop {
  @include flexbox(row);
  justify-content: space-between;
  padding: 40px 20px 0px;

  .header__logo-container {
    @include flexbox(row);
  }

  .header__logo {
    width: 53px;
  }

  .header__logo-text {
    @include header-logo-text(desktop);
  }

  .header__navbar {
    @include flexbox(row);
    justify-content: space-between;
    width: 385px;
    p {
      font-family: "Quicksand";
      font-size: 18px;
      margin: 0;
      cursor: pointer;
    }
  }
}

.header__contact-button {
  @include button(desktop, hollow);
}

@media (min-width: 992px) {
  .header_desktop {
    padding: 40px 100px 0px !important;
  }
}
