.header_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 20px 0px;
  position: relative;
}
.header_mobile .header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header_mobile .header__logo-text {
  font-family: "Quicksand";
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-left: 8px;
  color: #1d1d1d;
  font-size: 12px;
}
.header_mobile .header__logo-text span {
  font-weight: bold;
  color: #1d1d1d;
}
.header_mobile .header__logo-text span {
  font-size: 14px;
}
.header_mobile .header__hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  width: 30px;
  height: 26px;
  z-index: 100;
}
.header_mobile .header__hamburger-menu span {
  border-radius: 10px;
  height: 2px;
  background-color: #1d1d1d;
  transition: all 0.3s ease-in-out;
}
.header_mobile .header__hamburger-menu span:nth-child(1), .header_mobile .header__hamburger-menu span:nth-child(3) {
  width: 70%;
}
.header_mobile .header__hamburger-menu span:nth-child(2) {
  width: 50%;
}
.header_mobile .header__hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}
.header_mobile .header__hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.header_mobile .header__hamburger-menu.active span:nth-child(2) {
  transform: translateX(-10px);
  opacity: 0;
}
.header_mobile .header__sidenav {
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.header_mobile .header__sidenav_opened {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: cyan;
  width: 50%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.header_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 20px 0px;
}
.header_desktop .header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header_desktop .header__logo {
  width: 53px;
}
.header_desktop .header__logo-text {
  font-family: "Quicksand";
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-left: 8px;
  color: #1d1d1d;
  font-size: 16px;
}
.header_desktop .header__logo-text span {
  font-weight: bold;
  color: #1d1d1d;
}
.header_desktop .header__logo-text span {
  font-size: 20px;
}
.header_desktop .header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 385px;
}
.header_desktop .header__navbar p {
  font-family: "Quicksand";
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}

.header__contact-button {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 24px;
  border: 1px solid #377dff;
  color: #377dff;
  background-color: transparent;
  padding: 12px 50px;
  font-size: 16px;
}

@media (min-width: 992px) {
  .header_desktop {
    padding: 40px 100px 0px !important;
  }
}/*# sourceMappingURL=Header.css.map */