.header_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header_mobile .header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header_mobile .header__logo-text {
  font-family: "Quicksand";
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-left: 8px;
  color: #1d1d1d;
  font-size: 12px;
}
.header_mobile .header__logo-text p {
  color: #1d1d1d;
  text-align: left;
}
.header_mobile .header__logo-text span {
  font-weight: bold;
  color: #1d1d1d;
}
.header_mobile .header__logo-text span {
  font-size: 14px;
}
.header_mobile .header__hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  width: 30px;
  height: 26px;
  z-index: 100;
}
.header_mobile .header__hamburger-menu span {
  border-radius: 10px;
  height: 2px;
  background-color: #1d1d1d;
  transition: all 0.3s ease-in-out;
}
.header_mobile .header__hamburger-menu span:nth-child(1), .header_mobile .header__hamburger-menu span:nth-child(3) {
  width: 70%;
}
.header_mobile .header__hamburger-menu span:nth-child(2) {
  width: 50%;
}
.header_mobile .header__hamburger-menu.active span {
  background-color: #fff;
}
.header_mobile .header__hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}
.header_mobile .header__hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.header_mobile .header__hamburger-menu.active span:nth-child(2) {
  transform: translateX(-10px);
  opacity: 0;
}
.header_mobile .header__sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 22px 0px;
  justify-content: space-between;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
}
.header_mobile .header__sidenav .header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}
.header_mobile .header__sidenav .header__navbar p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.header_mobile .header__sidenav .header__contact-button {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 24px;
  border: 1px solid #377dff;
  color: #377dff;
  background-color: transparent;
  padding: 10px 35px;
  font-size: 12px;
  width: 140px;
  color: #fff;
  border: 1px solid #fff;
}
.header_mobile .header__sidenav_opened {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 22px 0px;
  justify-content: space-between;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  background-color: #377dff;
  width: 60%;
}
.header_mobile .header__sidenav_opened .header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}
.header_mobile .header__sidenav_opened .header__navbar p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.header_mobile .header__sidenav_opened .header__contact-button {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 24px;
  border: 1px solid #377dff;
  color: #377dff;
  background-color: transparent;
  padding: 10px 35px;
  font-size: 12px;
  width: 140px;
  color: #fff;
  border: 1px solid #fff;
}
.header_mobile .sidenav__backpanel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  background-color: transparent;
}
.header_mobile .sidenav__backpanel_opened {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}
.header_mobile .toggle-switch_light {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50px;
  height: 20px;
  position: relative;
  border-radius: 35px;
  transition: background-color 0.3s ease-in-out;
  margin: 0px auto 0px 25px;
}
.header_mobile .toggle-switch_light .slider {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.header_mobile .toggle-switch_dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50px;
  height: 20px;
  position: relative;
  border-radius: 35px;
  transition: background-color 0.3s ease-in-out;
  margin: 0px auto 0px 25px;
}
.header_mobile .toggle-switch_dark .slider {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.header_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 20px 0px;
}
.header_desktop .header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header_desktop .header__logo {
  width: 53px;
}
.header_desktop .header__logo-text {
  font-family: "Quicksand";
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-left: 8px;
  color: #1d1d1d;
  font-size: 16px;
}
.header_desktop .header__logo-text p {
  color: #1d1d1d;
  text-align: left;
}
.header_desktop .header__logo-text span {
  font-weight: bold;
  color: #1d1d1d;
}
.header_desktop .header__logo-text span {
  font-size: 20px;
}
.header_desktop .header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 385px;
  margin: 0px 20px;
}
.header_desktop .header__navbar p {
  font-family: "Quicksand";
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}
.header_desktop .header__right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header_desktop .toggle-switch_light {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50px;
  height: 20px;
  position: relative;
  border-radius: 35px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 20px;
  background-color: #ccc;
}
.header_desktop .toggle-switch_light .slider {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.header_desktop .toggle-switch_light .slider {
  background-color: #fff;
  transform: translateX(-55%);
  border: 2px solid #ccc;
}
.header_desktop .toggle-switch_dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50px;
  height: 20px;
  position: relative;
  border-radius: 35px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 20px;
  background-color: rgb(117, 117, 117);
}
.header_desktop .toggle-switch_dark .slider {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.header_desktop .toggle-switch_dark .slider {
  background-color: rgb(48, 48, 48);
  transform: translateX(55%);
  border: 2px solid rgb(117, 117, 117);
}

.header__contact-button {
  font-family: "Quicksand";
  font-weight: 700;
  border-radius: 24px;
  border: 1px solid #377dff;
  color: #377dff;
  background-color: transparent;
  padding: 12px 50px;
  font-size: 16px;
}

@media (min-width: 992px) {
  .header_desktop {
    padding: 40px 100px 0px !important;
  }
}/*# sourceMappingURL=Header.css.map */