@import "../../helpers/variables";
@import "../../helpers/mixins";

.testimonial_mobile {
  @include flexbox(column);
  padding: 70px 20px 0px;

  .testimonial__carousel {
    margin-top: 35px;
  }

  .active.carousel-item,
  .carousel-item-start,
  .carousel-item-end {
    @include flexbox(row);
  }

  .card {
    align-items: center;
    border-radius: 20px;
    border: none;
    margin-bottom: 100px;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 420px;
    
    .card-body {
      padding: 40px 20px 40px 40px;
      border-radius: 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 97%;
    }

    .card-header {
      @include flexbox(row);
      justify-content: flex-start;
      border-bottom: none;
      padding: 0;
      background-color: transparent;
    }

    .card-info {
      margin-left: 30px;
    }

    .card-name {
      text-align: left;
      font-size: 18px;
      color: $main-blue;
      font-weight: 600;
    }

    .card-position {
      text-align: left;
      font-size: 11px;
      color: #46464685;
    }

    .card-text {
      text-align: left;
      margin-top: 40px;
    }
  }
}
