.testimonial_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 20px 0px;
}
.testimonial_mobile .testimonial__carousel {
  margin-top: 35px;
}
.testimonial_mobile .active.carousel-item,
.testimonial_mobile .carousel-item-start,
.testimonial_mobile .carousel-item-end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.testimonial_mobile .card {
  align-items: center;
  border-radius: 20px;
  border: none;
  width: 100%;
  max-width: 420px;
}
.testimonial_mobile .card .card-body {
  padding: 40px 20px 40px 40px;
  border-radius: 20px;
  width: 97%;
}
.testimonial_mobile .card .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: none;
  padding: 0;
  background-color: transparent;
}
.testimonial_mobile .card .card-info {
  margin-left: 30px;
}
.testimonial_mobile .card .card-name {
  text-align: left;
  font-size: 18px;
  color: #377dff;
  font-weight: 600;
}
.testimonial_mobile .card .card-position {
  text-align: left;
  font-size: 11px;
  color: rgba(70, 70, 70, 0.5215686275);
}
.testimonial_mobile .card .card-text {
  text-align: left;
  margin-top: 40px;
}

.testimonial_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 100px 0px;
  position: relative;
}
.testimonial_desktop .testimonial__header {
  font-size: 24px;
}
.testimonial_desktop .testimonial__subheader {
  margin-top: 35px;
  font-size: 55px;
}
.testimonial_desktop .ellipse-grid_blue {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  position: absolute;
  z-index: 0;
  width: 98px;
  height: 71px;
  place-items: center;
  transform: rotate(20deg);
}
.testimonial_desktop .ellipse-grid_blue .ellipse-grid__ellipse_blue {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #377dff;
}
.testimonial_desktop .ellipse-grid_blue:nth-child(3) {
  top: 60px;
  left: 15%;
}
.testimonial_desktop .ellipse-grid_blue:nth-child(4) {
  bottom: -40px;
  right: 80px;
}
.testimonial_desktop .testimonial__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
}
.testimonial_desktop .active.carousel-item,
.testimonial_desktop .carousel-item-start,
.testimonial_desktop .carousel-item-end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.testimonial_desktop .card {
  align-items: center;
  border-radius: 20px;
  border: none;
  width: 33%;
  max-width: 380px;
  height: 335px;
}
.testimonial_desktop .card .card-body {
  padding: 40px 20px 40px 40px;
  border-radius: 20px;
  width: 97%;
}
.testimonial_desktop .card .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: none;
  padding: 0;
  background-color: transparent;
}
.testimonial_desktop .card .card-info {
  margin-left: 30px;
}
.testimonial_desktop .card .card-name {
  text-align: left;
  font-size: 20px;
  color: #377dff;
  font-weight: 600;
}
.testimonial_desktop .card .card-position {
  text-align: left;
  font-size: 11px;
  color: rgba(70, 70, 70, 0.5215686275);
}
.testimonial_desktop .card .card-text {
  text-align: left;
  font-size: 18px;
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .testimonial_desktop .card {
    width: 50%;
  }
  .testimonial_desktop .card:nth-child(3) {
    display: none;
  }
}/*# sourceMappingURL=Testimonial.css.map */