@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "./helpers/_variables.scss";

:root {
  --main-black: #1d1d1d;
  --main-gray: #464646;
  --main-blue: #377dff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h4 {
  font-family: "Nunito";
}

h1 {
  color: var(--main-black);
  font-weight: 800;
  text-align: center;
}

h2 {
  font-family: "Nunito";
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  margin: 10px 0px 0px;
}

h4 {
  font-weight: 600;
  color: var(--main-blue);
  text-align: center;
}

p {
  color: var(--main-gray);
  font-weight: 400;
  line-height: 24px;
  font-family: "Quicksand";
  text-align: center;
  margin: 0;
}


html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 14px;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--main-blue);
}
